.card {
  display: flex;
  gap: 2rem;
}

.card-title {
  font-size: var(--font-size-large);
  font-weight: 800;
  border-bottom: 1px solid var(--color-secondary);
}

.card-header {
  width: 22rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card-description {
  font-size: 1.3rem;
  width: 35rem;
  opacity: 0.7;
  line-height: 1.8rem;
}

.card-subtext {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: end;
}

.card-subtitle {
  font-size: var(--font-size-medium);
  opacity: 0.9;
}

.card-date {
  font-size: 1.3rem;
  opacity: 0.7;
}

.card-tags {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.card-tag {
  background-color: rgba(125, 125, 125, 0.4);
  opacity: 0.7;
  color: #ffffff;
  font-weight: 800;
  padding: 0.2rem 0.5rem;
  border-radius: 0.8rem;
  font-size: var(--font-size-small);
}
