.header {
    color: var(--color-primary);
    cursor: pointer;
    font-size: var(--font-size-small);
}

.header:hover {
    font-size: var(--font-size-medium);
    border-bottom: 0.1rem solid var(--color-secondary);
}

.active-header {
    color: var(--color-secondary);
    font-size: var(--font-size-small);
}