.contact {
    display: flex;
    text-align: center;
    gap: 15px;
}

.line {
    background-color: #b4b4b4;
    width: 35px;
    height: 2px; 
}

.icon {
    font-size: 25px;
    cursor: pointer;
}

.list {
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 3%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
    justify-content: center;
    align-items: center;
}