
.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.primary-container {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 5rem; 
    align-items: flex-start;
}

.topic {
    font-weight: bold;
    color: #FFFFFE;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 8rem;
}

.hr {
    height: max(0.1rem, 1px);
    width: max(25%, 30rem);
    background-color: #EEBBC3;
}

.navbar {
    width: 15%;
    margin-top: 8rem;
}