.container {
  width: 80%;
  margin: auto;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  overflow: none;
  flex-direction: row;
}

.about-container {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: space-between;
}
