.container {
  margin: auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: row;
  height: auto;
  padding: 0 10rem;
}

.about-container {
  position: sticky;
  width: 60%;
  align-items: center;
  padding-top: 8rem;
  display: flex;
  top: 0;
  height: 70vh;
  flex-direction: column;
  justify-content: space-between;
}

.exp {
  /* height: 100%; */
  /* max-height: 60rem; */
  display: flex;
  max-width: 50%;
  padding-top: 8rem;
  align-items: center;
}
