.icons {
    margin: auto;
}

.icon {
    cursor: pointer;
}

.very-small-icon {
    font-size: 1.5rem;
}

.small-icon {
    font-size: 2rem;
}

.medium-icon {
    font-size: 3rem;
}

.large-icon {
    font-size: 4rem;
}
