.work-container {
  padding-top: 4rem;
}

.work-header {
  color: rgba(var(--color-tertiary));
  font-size: 2rem;
  width: 20rem;
  opacity: 0.8;
  border-bottom: 1px solid rgba(var(--color-background));
  font-weight: 1000;
}

.work-list {
  color: var(--color-primary);
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  min-width: 0;
  gap: 3rem;
  margin-bottom: 5rem;
}
