.headers-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #b4b4b4
}

.workexp-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hidden-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #b4b4b4;
    opacity: 0;
}

.flexbox {
    display: flex;
    gap: 25px;
    align-items: baseline;
}

.header {
    font-size: medium;
    padding: 5px 10px;
    cursor: pointer;
    color: #b4b4b4;
    background: transparent;
}

.selected {
    padding: 5px 10px;
    font-size: x-large;
    cursor: pointer;
    color: #64ffda;
}

.subtext {
    line-height: 1.5;
    font-size: small;
}

.role, .exp-company {
    font-size: medium;
}

.exp-company {
    color: #64ffda;
    cursor: pointer;
}

.exp-company:hover {
    color: #64ffda;
    text-decoration: underline;
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.highlight {
    display: list-item;
    list-style-type: circle;
    list-style-position: outside;
}