.intro-container {
    background-color: transparent;
}

.intro-pre-name {
    font-weight: bold;
    color: var(--color-primary);
    font-size: var(--font-size-massive);
    line-height: 1.5;
}

.intro-post-name {
    font-weight: 400;
    color: var(--color-primary);
    font-size: var(--font-size-large); 
    line-height: 1.5;
}
