:root {
  font-size: clamp(13px, max(0.67vh, 0.67vw), 18px);
  --color-primary: #b8c1ec;
  --color-secondary: 220, 0, 98;
  --color-background: 88, 87, 89;
  --color-header: 255, 255, 254;

  --font-xs: 1.1rem;
  --font-sm: 1.3rem;
  --font-m: 1.5rem;
  --font-l: 1.7rem;
  --font-xl: 4rem;

  --font-family: "Manjari", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Manjari", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
