:root {
  font-size: clamp(13px, max(0.67vh, 0.67vw), 18px);
  --color-primary: #b8c1ec;
  --color-secondary: #d70077;
  --color-tertiary: 177, 0, 97;
  --color-background: 88, 87, 89;
  --color-header: #fffffe;

  --font-size-small: 1.1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 1.7rem;
  --font-size-massive: 4rem;

  --font-family: "Manjari", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Manjari", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
