.workexp-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.company {
    color: var(--color-secondary);
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.role {
    color: var(--color-primary);
    font-size: var(--font-size-medium);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
}

.exp-list {
    font-size: var(--font-size-medium);
    color: var(--color-primary);
}

.exp-item + li {
    margin-top: 2.5rem;
}

.exp-card {
    margin-top: 2.5rem;
}