.workexp-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.company {
    color: #EEBBC3;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.role {
    color: #B8C1EC;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
}

.exp-list {
    font-size: 1.5rem;
    color: #B8C1EC;
}

.exp-item + li {
    margin-top: 2.5rem;
}

.exp-card {
    margin-top: 2.5rem;
}